name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Deploy Code
        uses: satak/webrequest-action@master
        with:
          url: ${{ secrets.WEBHOOK_ID }}
          method: POST
          headers: '{ "secret": "${{ secrets.WEBHOOK_SECRET }}" }'
          payload: '{ "env": { "BOT_TOKEN": "${{ secrets.BOT_TOKEN }}", "BOT_ADMINS": "${{ secrets.BOT_ADMINS }}", "FIREBASE_CONFIG_BASE_64": "${{ secrets.FIREBASE_CONFIG_BASE_64 }}" } }'


